<launch>
    <!-- Bringup rosserial -->
    sudo chmod 777 /dev/ttyACM0
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" required="true">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="115200"/>
    </node>

    <!-- Bringup teleop -->
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen" ></node>

</launch>